{% extends 'base.html' %}
{% load static %}

{% block title %}
    Sport 
{% endblock title %}

{% block content %}

    <div class="product4">
        <h2>Basketball topi</h2>
        <a href="">
            <img src="{% static 'images/jpg/bas.jpg' %}" alt="">
        </a>
        <p>Narxi: $20</p>
    </div>

    <div class="product4">
        <h2>Gantel</h2>
        <a href="">
            <img src="{% static 'images/jpg/gan.jpg' %}" alt="">
        </a>
        <p>Narxi: $35</p>
    </div>

{% endblock %}